<div class="pane left" ng-if="statuses">
  <h1>Contact Categories</h1>
  <ul class="list-unstyled contacts">
    <li ng-repeat="group in statuses" class="{{group.name}}">
      <h4>{{group.name}}</h4>
      <ul class="list-unstyled">
        <li ng-repeat="status in group.data" ui-sref-active="active">
          <a ui-sref="contacts.list({status: status.param})">
            <div class="pull-right">{{status.count}}</div>
            {{status.name}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div ui-view class="pane right">
  <div class="row">
    <div class="col-sm-5 col-md-4">
      <div class="card">
        <div class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
        </div>
        <strong>1</strong> Start by picking a Contact Category on the left.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-4">
      <div class="card">
        <div class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
        </div>
        <strong>2</strong> Then contacts will show up on the right.
      </div>
    </div>
  </div>
</div>