<h4>
  <a ui-sref="contacts.show.appointments.index({contactId: contact.id})">
    <i class="fa fa-arrow-left"></i>
  </a>
  &nbsp;
  <i class="fa fa-calendar-o"></i>
  &nbsp;
  Appointment
</h4>
<div class="set_appointment clearfix">
  <div class="date">
    <div class="day-num">{{appointment.time | dateFilter : 'dd'}}</div>
    <div class="month">{{appointment.time | dateFilter : 'MMM'}}</div>
    <div class="day">{{appointment.time | dateFilter : 'EEE'}}</div>
  </div>
  <div class="content" ng-class="{waiting: !future(appointment.time) && appointment.result == 'waiting', active: future(appointment.time)}">
    <h3>{{appointment.time | dateFilter : 'h:mm a'}}</h3>
    <h4>{{appointment.address}}</h4>
    <p>{{appointment.notes}}</p>
    <div class="result pull-right">
      <span class="fa-stack fa-lg" ng-show="!future(appointment.time) && appointment.result=='waiting'">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg" ng-show="appointment.result=='support'">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg" ng-show="appointment.result=='callback_for_decision'">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
      </span>
    </div>
  </div>
</div>
<br>
<form novalidate ng-submit="saveAppointment()" name="form">
  <div class='row'>
    <div class='col-md-12 form-group'>
      <label class='control-label'>Time *</label>
      <span class="dropdown" dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" dropdown-toggle>
          <div class="input-group">
            <input type="text" class="form-control" data-ng-model="appointment.time"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu">
          <datetimepicker data-ng-model="appointment.time" />
        </ul>
      </span>
    </div>
    <div ng-show="future(appointment.time)">
      <div class='col-md-12 form-group'>
        <label class='control-label'>Address *</label>
        <input name="address" type="text" class="form-control" ng-model="appointment.address" />
        <span class="form-error" ng-show="form.address.$invalid && form.address.$dirty">{{errorMessage('address')}}</span>
      </div>
    </div>
    <div ng-hide="future(appointment.time)">
      <div class='col-sm-12 form-group'>

        <label class='control-label'>Appointment Result</label>

        <select name="result" class="form-control" ng-model="appointment.result">
          <% Contact::Appointment.results.each do |key, value| %>
            <option value="<%= key %>"><%= key.titleize %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='col-sm-12 form-group'>
      <label class='control-label'>Notes</label>
      <textarea name="notes" class="form-control" ng-model="appointment.notes" rows="5"></textarea>
    </div>
  </div>
  <div class="form-actions clearfix">
    <div class="success pull-left" ng-show="form.$pristine && appointment.id"><i class="fa fa-check-circle"></i> Saved</div>
    <div class="warning pull-left" ng-hide="form.$pristine"><i class="fa fa-times-circle"></i> Pending</div>
    <a ng-disabled="form.$pristine" ng-click="reset()" class="btn btn-default">Reset</a>
    <input ng-disabled="form.$pristine" type="submit" class="btn btn-primary" value="Save" />
  </div>
</form>