<div class="flow-title">
  Organize Appointment
</div>
<div class="flow" ui-view></div>
<div class="flow-footer">
  <a class="btn btn-primary" ng-click="update_call('appointment')">Done Adding Appointment</a>
</div>