<div class="flow-title">
  Ask For Contacts
</div>
<div class="flow clearfix text-center">
  <div class="row-fluid">
    <div class="col-md-12 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <p>Would you like to receive our prayer newsletter updates. We send these out via email every six to eight weeks and would really appreciate your prayers. Is that something you'd be interested in?</p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-6 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
    <div class="col-md-6 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-6 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response success">Yes</div>
        Can I have your email address please?
      </div>
    </div>
    <div class="col-md-6 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response failure">No</div>
        Oh, that’s no problem at all {{contact.first_name}}.
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-6 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
    <div class="col-md-6 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <p>There’s another very important way you can help right now! I am in need of more people to contact and I’m sure that you know other people who also share our desire to reach people for Christ.</p>
        <p>So I’m praying that you would suggest 5 or 6 others I can call about this opportunity. This is a big help and I’m sure they’ll also appreciate the opportunity to hear about it.</p>
        <p>I know it’s hard to think of people off the top of your head; so a good way to do this is to look over a list, like a church directory or your mobile phone. Would you be willing to do that now?</p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-4 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
    <div class="col-md-4 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
    <div class="col-md-4 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-4 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response success">Yes</div>
        Can I have their contact information?
        <a ng-click="update_call('ask_for_contacts', 'got_contacts')"
           class="btn btn-primary btn-block">Get Contact Info</a>
      </div>
    </div>
    <div class="col-md-4 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response warning">Maybe</div>
        Great, would I be able to give you a call back in <strong>[appropriate time]</strong>?
        <a ng-click="update_call('ask_for_contacts', 'must_callback')"
           class="btn btn-default btn-block">Setup Callback</a>
      </div>
    </div>
  </div>
    <div class="col-md-4 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response failure">No</div>
        Oh, that’s no problem at all {{contact.first_name}}.
        <a ng-click="update_call('ask_for_contacts', 'no_contacts')"
           class="btn btn-danger btn-block">End Call</a>
      </div>
    </div>
  </div>
</div>
