<div class="flow-title">
  Organize Callback
</div>
<div class="flow" ui-view></div>
<div class="flow-footer">
  <a class="btn btn-primary" ng-click="update_call('callback')">Done Adding Callback</a>
</div>