<div class="flow-title">
  Call Finished
</div>
<div class="clearfix text-center">
  <div class="row-fluid">
    <div class="col-md-12 flow-box">
      <div class="flow-content">
        <p><img src="<%= image_url('crowdgoeswild.jpg') %>"></p>
        <h2 class="text-muted">Woohoo. All Done Here.</h2>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="flow-footer">
  <a ui-sref="call_session" class="btn btn-primary">
    Back to Calling Session
  </a>
</div>