<div class="flow-title">
  Input Contact Info
</div>
<div class="flow" ui-view></div>
<div class="flow-footer">
  <a class="btn btn-primary" ng-click="update_call('input_contacts')">Done Adding Contacts</a>
</div>