<div class="flow-title">
  Callback for Decision
</div>
<div class="flow clearfix text-center">
  <div class="row-fluid">
    <div class="col-md-12 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <p>
          Hey is this {{contact.first_name}}?
          <a ng-click="update_call('must_callback_for_decision', 'not_in')">
            (Not In)
          </a>
        </p>
        <p>
          Hey {{contact.first_name}}, it's {{current_user.first_name}}. Have you had a nice day today?
        </p>
        <p>
          Is this a good time to talk briefly?
          <a ng-click="update_call('must_callback_for_decision', 'must_callback')">
            (Call Later)
          </a>
        </p>
        <p>
          {{contact.first_name}}, I'm just calling to see where the Lord is leading you concerning your investment as a Ministry Partner?
        </p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-3 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
    <div class="col-md-3 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
    <div class="col-md-6 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
  </div>
  <div class="row-fluid row-sm-height">
    <div class="col-md-3 col-sm-height flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response success">
          <strong>Yes</strong><br>Able to Support
        </div>
        <p>That's great {{contact.first_name}}! We're proud to have you on our team as Ministry Partners.</p>
        <a ng-click="update_call('must_callback_for_decision', 'got_support')"
           class="btn btn-primary btn-block">Support</a>
      </div>
    </div>
    <div class="col-md-3 col-sm-height flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response warning">
          <strong>Maybe</strong><br>Haven't Decided Yet
        </div>
        <p>Great, would I be able to give you a call back in <strong>[appropriate time]</strong> to organise a time then?</p>
        <a ng-click="update_call('must_callback_for_decision', 'must_callback')"
           class="btn btn-default btn-block">Must Callback</a>
      </div>
    </div>
    <div class="col-md-6 col-sm-height flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response failure">
          <strong>No</strong><br>Not interested right now
        </div>
        <p>Oh, that's no problem at all {{contact.first_name}}. Thank you for considering investing as a Ministry Partner.</p>
        <a ng-click="update_call('must_callback_for_decision', 'no_support')"
           class="btn btn-danger btn-block">No Support</a>
      </div>
    </div>
  </div>
</div>