<div class="flow-title">
  Callback For Contacts
</div>
<div class="flow clearfix text-center">
  <div class="row-fluid">
    <div class="col-md-12 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <p>
          Hey is this {{contact.first_name}}?
          <a ng-click="update_call('must_callback_for_contacts', 'not_in')">
            (Not In)
          </a>
        </p>
        <p>
          Hi {{contact.first_name}}. This is {{current_user.first_name}} with Student Life.
        </p>
        <p>
          Is this a good time to talk briefly?
          <a ng-click="update_call('must_callback_for_contacts', 'must_callback')">
            (Call Later)
          </a>
        </p>
        <p>
          We talked on the phone the other day and you asked me to call you so you could suggest some people to me that you thought might appreciate the opportunity to know more about our team's ministry.
        </p>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-4 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
    <div class="col-md-4 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
    <div class="col-md-4 text-center text-muted">
      <i class="fa fa-arrow-down"></i>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-4 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response success">Yes</div>
        Can I have their contact information?
        <a ng-click="update_call('must_callback_for_contacts', 'got_contacts')"
           class="btn btn-primary btn-block">Get Contact Info</a>
      </div>
    </div>
    <div class="col-md-4 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response warning">Maybe</div>
        Great, would I be able to give you a call back in <strong>[appropriate time]</strong>?
        <a ng-click="update_call('must_callback_for_contacts', 'must_callback')"
           class="btn btn-default btn-block">Setup Callback</a>
      </div>
    </div>
  </div>
    <div class="col-md-4 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <div class="response failure">No</div>
        Oh, that’s no problem at all {{contact.first_name}}.
        <a ng-click="update_call('must_callback_for_contacts', 'no_contacts')"
           class="btn btn-danger btn-block">End Call</a>
      </div>
    </div>
  </div>
</div>
