<div class="flow-title">
  Not Present
</div>
<div class="flow clearfix text-center">
  <div class="row-fluid">
    <div class="col-md-12 flow-box">
      <div class="flow-border"></div>
      <div class="flow-content">
        <p>Looks like nobody's home.</p>
        <a ng-click="update_call('not_present')"
           class="btn btn-primary btn-block">Done</a>
      </div>
    </div>
  </div>
</div>