<div class="flow-title">
  The Replay
</div>
<div class="flow">
  <div class="event" ng-repeat="event in call.events">
    <h4>{{event.message}}</h4>
    <div class="history clearfix">
      <div class="row">
        <div class="col-md-12">
          <span class="label">
            <strong>Step</strong> {{event.step_title}}
          </span>
          <span ng-show="event.state">
            <i class="fa fa-angle-right"></i>
            <span class="label label">
              <strong>Action</strong> {{event.state_title}}
            </span>
          </span>
          <span ng-show="event.transition">
            <i class="fa fa-angle-right"></i>
            &nbsp;
            <span class="label label-warning">
              <strong>Transition</strong> {{event.transition_title}}
            </span>
            &nbsp;
          </span>
          <div class="pull-right">
            <span class="time" am-time-ago="event.start_time" am-preprocess="unix"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flow-footer">
<a ng-click="update_call('stats')"
   class="btn btn-primary">Next</a>
</div>