<div class="flow-title">
  Update Support Info
</div>
<div class="flow">
  <p>
    <strong>Ensure the following details</strong>
    <ol>
      <li>
        <input id="detail1" type="checkbox" />
        <label for="detail1">Investment amount, frequency &amp; first giving date</label>
      </li>
      <li>
        <input id="detail1" type="checkbox" />
        <label for="detail1">Correct Address to send Prayer Letter</label>
      </li>
      <li>
        <input id="detail2" type="checkbox" />
        <label for="detail2">Spelling of their names</label>
      </li>
      <li>
        <input id="detail3" type="checkbox" />
        <label for="detail3">Getting in the first month of investment asap</label>
        <p>Will you be able to make that first month's transfer to our account within a couple of days?</p>
      </li>
    </ol>
  </p>
  <div ui-view></div>
</div>
<div class="flow-footer">
  <a class="btn btn-primary" ng-click="update_call('support')">Done Updating Support</a>
</div>