<ul id="main_navigation" ng-controller="NavbarController" class="list-unstyled">
  <li ui-sref-active="active">
    <a ui-sref="home"><i class="fa fa-home"></i></a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="contacts"><i class="fa fa-users"></i></a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="call_session"><i class="fa fa-phone"></i></a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="appointments"><i class="fa fa-calendar-o"></i></a>
  </li>
  <!--
  <li class="bottom">
    <ul class="list-unstyled">
      <li ui-sref-active="active">
        <a ui-sref="reports"><i class="fa fa-bar-chart"></i></a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="settings"><i class="fa fa-cogs"></i></a>
      </li>
    </ul>
  </li>
  -->
</ul>